* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}


/* Header sections */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(87, 81, 81);
    width: 100%;
    padding: 1.8rem 0;
    margin-bottom: 0.1rem;
}

.text#searchtext {
    background-color: rgb(87, 81, 81);
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    margin-left: 0.5rem;
    color: white;
}

.radioType {
    margin-right: 2rem;
    color: whitesmoke;
}

.all,
.movies,
.series,
.episode {
    margin: 0.7rem;
    color: red;
}

.watchListbtn {
    background-color: rgb(87, 81, 81);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    color: white;
}

.watchListbtn:hover {
    border: 1px solid #ffff00;
}

.error.list-group-item {
    color: red;
    padding: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.message {
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 3rem;
}


/* Adjuct position of both scroll and movie list section  */

.flex {
    display: inline-flex;
    width: 100%;
    height: 82%;
}


/* scroll section */

#scroll {
    max-height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    min-width: 35%;
    max-width: 35%;
    padding-left: 0;
}

.img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    margin-right: 0.9rem;
}

li.results {
    padding: 1.5rem 0rem 1.5rem 0.5rem;
}

li.clickList {
    padding: 1.7rem;
    margin-left: 0.2rem;
}

li.clickList:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.year {
    opacity: 0.5;
}


/* full Movie list Section */

.watchList {
    padding: 0.5rem 1.7rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-right: 1.5rem;
}

.movieDetails {
    height: 100%
}

.movie {
    min-width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: space-evenly;
}

.movieInfo {
    display: flex;
    justify-content: space-between;
}

.Title {
    align-self: flex-end;
}

.movieImg {
    width: 13rem;
    height: 19rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(129, 129, 129);
    margin-right: 2rem;
}

.movieName {
    font-size: 1.4rem;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: space-evenly;
}

.verticalLine {
    border-left: 1px solid rgb(165, 155, 155);
}

.imdb,
.rotan,
.meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle {
    background-color: rgb(87, 81, 81);
    color: white;
    border-radius: 5px;
    border: 1px solid #ffff00;
}

.plot {
    margin-right: 2rem;
}

.rated {
    padding: 0.1rem 0.4rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.actors {
    padding-top: 0.8rem;
}


/* modal styling */

.listClicked:hover {
    cursor: pointer;
    background-color: lightgrey;
}


/* media queries */

@media (max-width: 54rem) {
    .movieImg {
        width: 10rem;
        height: 13rem;
    }
    .movieName {
        font-size: 1rem;
    }
    * {
        font-size: 0.9rem;
    }
    .radioType {
        display: none;
    }
    .watchListbtn {
        margin-right: 2rem;
    }
}

@media (max-height: 36rem) {
    .movieImg {
        width: 10rem;
        height: 12rem;
    }
    .movieName {
        font-size: 1rem;
    }
    * {
        font-size: 0.9rem;
    }
}